# Secrets 
.env
.env.local
.env.production
.env.staging
.env.prod
.env.test
.env.ci

# Python
__pycache__/
*.pyc
venv/
*.log

# Docker volumes (data)
postgres_data/
redis_data/
prometheus_data/
grafana_data/

# IDE
.vscode/
.idea/

# Frontend
node_modules/
frontend/build/

# OS files
.DS_Store
Thumbs.db

#ticket files
uploads/

# Keep example file
!.env.example
